USE [master]
GO
/****** Objeto: Database [Stach] Fecha de script: 24/5/2026 18:24:56 ******/
CREATE DATABASE [Stach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Stach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Stach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stach]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdUsuario] [int] NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Modulo] [nvarchar](100) NOT NULL,
	[Actividad] [nvarchar](100) NOT NULL,
	[IdCriticidad] [int] NOT NULL,
	[Detalle] [nvarchar](max) NOT NULL,
	[Error] [nvarchar](max) NOT NULL,
	[Exitoso] [bit] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Componente] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componente](
	[IdComponente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComponente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Criticidad] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criticidad](
	[IdCriticidad] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ColorHex] [nvarchar](7) NOT NULL,
	[Orden] [int] NOT NULL,
 CONSTRAINT [PK_Criticidad] PRIMARY KEY CLUSTERED 
(
	[IdCriticidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HistorialUsuario] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialUsuario](
	[IdVersion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Actor] [nvarchar](100) NOT NULL,
	[Detalle] [nvarchar](500) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[Default] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PermisoKey] [nvarchar](100) NULL,
	[EsFamilia] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PermisoRelacion] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoRelacion](
	[IdPadre] [int] NOT NULL,
	[IdHijo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPadre] ASC,
	[IdHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Traduccion] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[IdIdioma] [int] NOT NULL,
	[IdComponente] [int] NOT NULL,
	[Texto] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC,
	[IdComponente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Estado] [int] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[UltimoLogin] [datetime] NULL,
	[IntentosFallidos] [int] NOT NULL,
	[CantidadBloqueos] [int] NOT NULL,
	[FechaBloqueo] [datetime] NULL,
	[DVH] [nvarchar](256) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UsuarioPermiso] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPermiso](
	[IdUsuario] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VerificacionVertical] Fecha de script: 24/5/2026 18:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificacionVertical](
	[Tabla] [nvarchar](100) NOT NULL,
	[DVV] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([IdBitacora], [Fecha], [IdUsuario], [Username], [Modulo], [Actividad], [IdCriticidad], [Detalle], [Error], [Exitoso]) VALUES (1, CAST(N'2026-05-23T20:37:17.343' AS DateTime), NULL, N'', N'Iniciar sesión', N'IntentoFallido', 4, N'Error inesperado.', N'El nombre de usuario no puede estar vacio.', 0)
INSERT [dbo].[Bitacora] ([IdBitacora], [Fecha], [IdUsuario], [Username], [Modulo], [Actividad], [IdCriticidad], [Detalle], [Error], [Exitoso]) VALUES (2, CAST(N'2026-05-23T20:38:09.907' AS DateTime), NULL, N'', N'Iniciar sesión', N'IntentoFallido', 4, N'Error inesperado.', N'El nombre de usuario no puede estar vacio.', 0)
INSERT [dbo].[Bitacora] ([IdBitacora], [Fecha], [IdUsuario], [Username], [Modulo], [Actividad], [IdCriticidad], [Detalle], [Error], [Exitoso]) VALUES (3, CAST(N'2026-05-23T20:38:15.397' AS DateTime), NULL, N'admin', N'Iniciar sesión', N'IntentoFallido', 4, N'Credenciales invalidas.', N'Credenciales invalidas.', 0)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Componente] ON 

INSERT [dbo].[Componente] ([IdComponente], [Nombre]) VALUES (2, N'LoginForm.lblTitulo')
INSERT [dbo].[Componente] ([IdComponente], [Nombre]) VALUES (3, N'LoginForm.lblSubtitulo')
INSERT [dbo].[Componente] ([IdComponente], [Nombre]) VALUES (5, N'LoginForm.lblPassword')
SET IDENTITY_INSERT [dbo].[Componente] OFF
GO
INSERT [dbo].[Criticidad] ([IdCriticidad], [Nombre], [ColorHex], [Orden]) VALUES (1, N'Informativo', N'#E8F5E9', 1)
INSERT [dbo].[Criticidad] ([IdCriticidad], [Nombre], [ColorHex], [Orden]) VALUES (2, N'Bajo', N'#FFF9C4', 2)
INSERT [dbo].[Criticidad] ([IdCriticidad], [Nombre], [ColorHex], [Orden]) VALUES (3, N'Medio', N'#FFE0B2', 3)
GO
SET IDENTITY_INSERT [dbo].[HistorialUsuario] ON 

INSERT [dbo].[HistorialUsuario] ([IdVersion], [IdUsuario], [Fecha], [Actor], [Detalle], [Username], [PasswordHash], [Estado]) VALUES (1, 2, CAST(N'2026-05-24T10:22:35.700' AS DateTime), N'admin', N'Antes de modificación. Nuevo username: ''smyth'', Estado: Bloqueado.', N'smyth', N'Cw00YXMqNnLRZRB5y6MAQkp1fjzZfG3sC2UgxNlrXok4qKoVMa55/zBBKwiO7glB', 1)
INSERT [dbo].[HistorialUsuario] ([IdVersion], [IdUsuario], [Fecha], [Actor], [Detalle], [Username], [PasswordHash], [Estado]) VALUES (2, 1, CAST(N'2026-05-24T15:25:37.010' AS DateTime), N'admin1', N'Antes de modificación. Nuevo username: ''admin'', Estado: Activo.', N'admin1', N'KSwwx+Gt252Om2jzMR8zOngO1qMeo58w0XUdUmQxMUzTDfz3ZEY3BRgnu1f4WaLF', 1)
INSERT [dbo].[HistorialUsuario] ([IdVersion], [IdUsuario], [Fecha], [Actor], [Detalle], [Username], [PasswordHash], [Estado]) VALUES (3, 1, CAST(N'2026-05-24T15:25:57.650' AS DateTime), N'admin1', N'Antes de modificación. Nuevo username: ''admin'', Estado: Activo.', N'admin', N'KSwwx+Gt252Om2jzMR8zOngO1qMeo58w0XUdUmQxMUzTDfz3ZEY3BRgnu1f4WaLF', 1)
SET IDENTITY_INSERT [dbo].[HistorialUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([IdIdioma], [Nombre], [Codigo], [Default]) VALUES (1, N'Español', N'es', 1)
INSERT [dbo].[Idioma] ([IdIdioma], [Nombre], [Codigo], [Default]) VALUES (2, N'English', N'en', 0)
INSERT [dbo].[Idioma] ([IdIdioma], [Nombre], [Codigo], [Default]) VALUES (3, N'Português', N'pt', 0)
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [PermisoKey], [EsFamilia]) VALUES (1, N'Gestión de Usuarios', N'Usuarios', 0)
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [PermisoKey], [EsFamilia]) VALUES (2, N'Ver Bitácora', N'Bitacora', 0)
INSERT [dbo].[Permiso] ([IdPermiso], [Nombre], [PermisoKey], [EsFamilia]) VALUES (3, N'Gestión de Idiomas', N'Idiomas', 0)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[PermisoRelacion] ([IdPadre], [IdHijo]) VALUES (100, 1)
INSERT [dbo].[PermisoRelacion] ([IdPadre], [IdHijo]) VALUES (100, 2)
INSERT [dbo].[PermisoRelacion] ([IdPadre], [IdHijo]) VALUES (100, 3)
GO
INSERT [dbo].[Traduccion] ([IdIdioma], [IdComponente], [Texto]) VALUES (1, 2, N'Iniciar sesión')
INSERT [dbo].[Traduccion] ([IdIdioma], [IdComponente], [Texto]) VALUES (1, 3, N'Ingrese sus credenciales para acceder')
INSERT [dbo].[Traduccion] ([IdIdioma], [IdComponente], [Texto]) VALUES (1, 5, N'Contraseña:')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Username], [PasswordHash], [Estado], [FechaAlta], [UltimoLogin], [IntentosFallidos], [CantidadBloqueos], [FechaBloqueo], [DVH]) VALUES (1, N'admin', N'ydO9DqhH7uqxQ2OQ1K/epwKnucNZdvtGUso9tK5tLvkeutH46RegEmuLnvKp1ngB', 1, CAST(N'2026-05-23T20:41:44.847' AS DateTime), CAST(N'2026-05-24T15:49:04.153' AS DateTime), 0, 2, CAST(N'2026-05-24T15:46:25.140' AS DateTime), N'HDYO3kImvY3Uh+T/VzJY+PrZnVVH4IELZ1RnLgfXQTM=')
INSERT [dbo].[Usuario] ([IdUsuario], [Username], [PasswordHash], [Estado], [FechaAlta], [UltimoLogin], [IntentosFallidos], [CantidadBloqueos], [FechaBloqueo], [DVH]) VALUES (2, N'smyth', N'Cw00YXMqNnLRZRB5y6MAQkp1fjzZfG3sC2UgxNlrXok4qKoVMa55/zBBKwiO7glB', 1, CAST(N'2026-05-24T00:26:11.243' AS DateTime), NULL, 0, 1, CAST(N'2026-05-24T10:22:35.703' AS DateTime), N'5ntAbFV2iiPANu/L9O/9Ps2mGa5ceFq+t92DsYs5c54=')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[UsuarioPermiso] ([IdUsuario], [IdPermiso]) VALUES (1, 100)
INSERT [dbo].[UsuarioPermiso] ([IdUsuario], [IdPermiso]) VALUES (2, 102)
GO
INSERT [dbo].[VerificacionVertical] ([Tabla], [DVV]) VALUES (N'Usuario', N'YimXIWBUWTLLjF/uQP5WzrQxDHowen7ip4VuoXJrFm0=')
GO
/****** Objeto: Index [IX_Bitacora_Fecha] Fecha de script: 24/5/2026 18:24:57 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_Fecha] ON [dbo].[Bitacora]
(
	[Fecha] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Bitacora_IdCriticidad] Fecha de script: 24/5/2026 18:24:57 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_IdCriticidad] ON [dbo].[Bitacora]
(
	[IdCriticidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Bitacora_IdUsuario] Fecha de script: 24/5/2026 18:24:57 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_IdUsuario] ON [dbo].[Bitacora]
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Criticidad_Nombre] Fecha de script: 24/5/2026 18:24:57 ******/
ALTER TABLE [dbo].[Criticidad] ADD  CONSTRAINT [UQ_Criticidad_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Criticidad_Orden] Fecha de script: 24/5/2026 18:24:57 ******/
ALTER TABLE [dbo].[Criticidad] ADD  CONSTRAINT [UQ_Criticidad_Orden] UNIQUE NONCLUSTERED 
(
	[Orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuario_Username] Fecha de script: 24/5/2026 18:24:57 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [UQ_Usuario_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT ('') FOR [Error]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [CantidadBloqueos]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Criticidad] FOREIGN KEY([IdCriticidad])
REFERENCES [dbo].[Criticidad] ([IdCriticidad])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Criticidad]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[HistorialUsuario]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PermisoRelacion]  WITH CHECK ADD FOREIGN KEY([IdHijo])
REFERENCES [dbo].[Permiso] ([IdPermiso])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PermisoRelacion]  WITH CHECK ADD FOREIGN KEY([IdPadre])
REFERENCES [dbo].[Permiso] ([IdPermiso])
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdComponente])
REFERENCES [dbo].[Componente] ([IdComponente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioPermiso]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioPermiso]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Criticidad]  WITH CHECK ADD  CONSTRAINT [CK_Criticidad_ColorHex] CHECK  (([ColorHex] like '#[0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f][0-9A-Fa-f]'))
GO
ALTER TABLE [dbo].[Criticidad] CHECK CONSTRAINT [CK_Criticidad_ColorHex]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_CantidadBloqueos] CHECK  (([CantidadBloqueos]>=(0)))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_CantidadBloqueos]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Estado] CHECK  (([Estado]=(3) OR [Estado]=(2) OR [Estado]=(1)))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_IntentosFallidos] CHECK  (([IntentosFallidos]>=(0)))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_IntentosFallidos]
GO
USE [master]
GO
